/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

:root {
    /****** 10px ******/
    font-size: 62.5%;
    font-family: 'Oswald',
        sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    font-weight: 100;
    line-height: 1.5;
}

body>section {
    text-align: center;
}

.logo,
.social-icon {
    width: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}


ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

p,
a {
    font-size: 1.6rem;
    font-weight: 400;
}

.donate-link a:hover {
    border: 2px solid white;
    background: orange;
    color: white;
}

.description {
    width: 50%;
    margin: auto;
}

.border-link {
    display: inline-block;
    border: 1px solid black;
    color: black;
    padding: 0.8em 5rem;
    margin: 2rem;
    text-decoration: none;
}


img {
    width: 90%;
}

/******************************************
/* LAYOUT
/*******************************************/
.container {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

header,
main {
    background: #d8761b;
    color: white;
}

header>.link-list {
    flex: 1;
    display: flex;
}


header>.link-list>.link>a {
    display: inline-block;
    width: max-content;
}

main+section {
    margin: 10rem 0;
}

.video-link {
    z-index: 10;
}

.bg {
    width: 100%;
    z-index: 1;
    max-width: 1200px;
}

.link,
.donate-link {
    margin: auto 2rem;
}


header .logo {
    flex-basis: 10rem;
}

.donate-link {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.donate-link>a {
    border-radius: 5px;
    border: 1px solid white;
    background: white;
    color: #66768a;
    padding: 0.75rem 1rem;
}

/******************************************
/* WHY
/*******************************************/
main * {
    width: 75%;
    margin: auto;
    text-align: center;
}

.main-heading {
    font-size: 8rem;
    margin: 3rem auto;
}

.sub-heading {
    width: 70%;
    max-width: 1000px;
}

.fa-play-circle {
    width: 25px;
    vertical-align: baseline;
    margin-right: 1rem;
}

.video-link {
    display: block;
    width: auto;
    font-size: 1.8rem;
    margin: 3rem auto;
}

.placeholder {
    color: rgb(62 65 79);
    display: block;
    margin: auto;
    width: 10%;
    padding: 2rem 0;
}

.gym-classes {
    background: #dbdfe2;
}

/******************************************
/* VISIT
/*******************************************/
.gray {
    background: lightgray;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5rem 0;
}

.visit {
    padding-top: 2rem;
}

/******************************************
/* VOLUNTEER
/*******************************************/
.gray>section {
    flex-grow: 1;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.gray>section* {
    flex-grow: 1;
}

.volunteer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 1000px;
    padding: 5rem 0;
}

.volunteer-container>h2 {
    flex-basis: 10%;
}


.volunteer-container>.bg-grapple {
    flex: 1;
    background-image: url('../assets/nathan-dumlao-AsCCBr7J-XM-unsplash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.volunteer-container>.bg-grapple::before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #00000038 30%, #ffffff44 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

/*.volunteer-container>img {
    flex-basis: 80%;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}*/

/*
.volunteer-container>.bg-grapple::before {
    width: 100%;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    background-size: contain;
}*/



.volunteer-description,
.why-description {
    width: 30%;
}

/******************************************
/* FOOTER
/*******************************************/
footer {
    background: #d8761b;
    color: #fff;
}

footer * {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.border-link:hover {
    border: 1px solid white;
    background: orange;
    color: white;
}


.footer-left {
    float: left;
}

.footer-left,
.footer-right,
.footer-company-info {
    margin: 1.5rem 4rem;
}

.footer-heading {
    margin-bottom: 0;
    font-weight: 700;
    color: white;
}

.footer-company-info {
    border-top: 1px solid white;
}

.socials-list,
.site-links {
    height: 35px;
}

.organization-type {
    width: 80%;
}

.socials-list *,
.site-links *,
.organization-type {
    float: left;
    display: block;
}

.site-links {
    margin: 0;
}

.site-link {
    margin-right: 2rem;
}

.social {
    width: 25px;
    height: 25px;
}

.fa-2xl {
    font-size: 2rem;
    line-height: 1.5;
}

.footer-right {
    float: right;
    margin: 2.5rem 4rem;
}

.footer-right:nth-child(1) {
    margin-top: 1rem;
}

.footer-right h6 {
    color: white;
}

.footer-right h6+h6 {
    margin-bottom: 1rem;
}

.footer-right p {
    margin: 0;
    font-weight: 100;
}

.footer-company-info {
    padding-top: 1rem;
}

footer .logo {
    float: right;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 1325px) {
    .placeholder {
        width: 100%;
    }

    section>section:first-child {
        padding-left: 0;
    }

    .gray>section+section {
        padding-right: 0;
    }
}

@media screen and (max-width: 910px) {

    .volunteer-description,
    .why-description {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {

    :root {
        font-size: 50%;
    }

    section>section:first-child {
        width: 100%;
        margin-left: 0;
    }

    .gray>section+section {
        width: 100%;
        margin-right: 0;
    }

    .gray>section {
        margin: 5rem 0;
    }

    .organization-type {
        width: 65%;
    }
}

@media screen and (max-width: 450px) {
    .main-heading {
        font-size: 7rem;
    }
}